body {
    max-width: 1440px;
    margin: auto;
    padding-top: 10%;
    padding-bottom: 10%;
    font-family: "Hanken Grotesk";
}

main {
    display: flex;
    justify-content: center;
    margin: auto;
    flex-wrap: wrap;
    
}

.result {
    border-radius: 10%;
    background-image: linear-gradient(hsl(252, 100%, 67%), hsl(241, 81%, 54%));
    border-style: hidden;
    width: 30vb;
    text-align: center;
}

.summary {
    display: inline-block;
    border-radius: 10%;
    width: 30vb;
}

.list li {
    display: flex;
}

#summaryScore {
    padding-left: ;
}
